certifi==2021.5.30
chardet==4.0.0
click==7.1.2
colorama==0.4.4
colorlog==5.0.1
commonmark==0.9.1
EasyProcess==0.3
entrypoint2==0.2.4
future==0.18.2
idna==2.10
iso-639==0.4.5
iso3166==1.0.1
iso8601==0.1.14
isodate==0.6.0
jeepney==0.6.0
mss==6.1.0
numpy==1.21.0
opencv-contrib-python==4.5.2.54
pafy==0.5.5
Pillow==8.3.2
pycryptodome==3.10.1
Pygments==2.9.0
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
pyscreenshot==3.0
PySocks==1.7.1
python-dotenv==0.18.0
PyYAML==5.4.1
pyzmq==22.1.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
requests==2.25.1
rich==10.4.0
serial==0.0.97
simplejpeg==1.6.1
six==1.16.0
streamlink==2.2.0
tqdm==4.61.1
urllib3==1.26.6
vidgear==0.2.1
websocket-client==1.1.0
youtube-dl==2021.6.6
