certifi==2021.10.8
charset-normalizer==2.0.7
colorlog==6.5.0
Cython==0.29.24
EasyProcess==0.3
entrypoint2==0.2.4
future==0.18.2
idna==3.3
iso-639==0.4.5
iso3166==2.0.2
iso8601==0.1.16
isodate==0.6.0
jeepney==0.7.1
lxml==4.6.3
mss==6.1.0
numpy==1.21.2
opencv-python==4.5.3.56
pafy==0.5.5
Pillow==8.4.0
pycryptodome==3.11.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyscreenshot==3.0
pyserial==3.5
PySocks==1.7.1
PyYAML==6.0
pyzmq==22.3.0
requests==2.26.0
simplejpeg==1.6.2
six==1.16.0
streamlink==2.4.0
tqdm==4.62.3
urllib3==1.26.7
vidgear==0.2.2
websocket-client==1.2.1
youtube-dl==2021.6.6
