anytree==2.8.0
appdirs==1.4.4
argon2-cffi==20.1.0
asn1crypto==1.4.0
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
Beaker==1.11.0
beautifulsoup4==4.9.3
bleach==4.1.0
Brlapi==0.8.2
btrfsutil==5.13.1
CacheControl==0.12.6
cachy==0.3.0
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
cffi==1.14.6
chardet==4.0.0
chm2pdf==0.9
cleo==0.8.1
click==8.0.1
clikit==0.6.2
clipboard==0.0.4
cocos2d==0.6.9
colorama==0.4.4
commonmark==0.9.1
contextlib2==0.6.0.post1
crashtest==0.3.1
cryptography==3.4.8
cv==1.0.0
Cython==0.29.24
debugpy==1.4.3
decorator==5.0.9
defusedxml==0.7.1
distlib==0.3.2
distro==1.6.0
dnspython==1.16.0
dv==1.0.10
entrypoints==0.3
evdev==1.4.0
filelock==3.0.12
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
flatbuffers==1.12
future==0.18.2
gobject==0.1.0
greenlet==1.1.0
html5lib==1.1
idna==3.2
importlib-metadata==4.8.1
ipykernel==6.0.3
ipython==7.27.0
ipython_genutils==0.2.0
ipywidgets==7.6.3
isc==2.0
iso8601==0.1.13
itsdangerous==2.0.1
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
keyboard==0.13.5
keyring==21.8.0
lensfun==0.3.95
libfdt==1.6.1
libvirt-python==7.3.0
lockfile==0.12.2
loguru==0.5.3
louis==3.19.0
lutris==0.5.8.4
lxml==4.6.3
lz4==3.1.1
Mako==1.1.5
mallard-ducktype==1.0.2
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
mistune==0.8.4
more-itertools==8.8.0
MouseInfo==0.1.3
msgpack==1.0.2
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
netsnmp-python==1.0a1
nftables==0.1
notebook==6.4.3
numpy==1.19.4
opencv-python==4.4.0.46
ordered-set==4.0.2
packaging==20.9
pandocfilters==1.4.3
parso==0.8.2
pastel==0.2.1
pep517==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
pkginfo==1.7.1
ply==3.11
poetry==1.1.8
poetry-core==1.0.4
progress==1.5
prometheus-client==0.11.0
prompt-toolkit==3.0.20
ptyprocess==0.7.0
PyAutoGUI==0.9.52
pybind11==2.7.1
pycairo==1.20.1
pychm==0.8.6
pycparser==2.20
pyenchant==3.2.1
PyGetWindow==0.0.9
pyglet==1.5.17
Pygments==2.10.0
PyGObject==3.40.1
pygtkspellcheck==4.0.6
pylev==1.4.0
PyMsgBox==1.0.9
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.1
PyQt3D==5.15.4
PyQt4_sip==4.19.25
PyQt5==5.15.4
PyQt5-sip==12.9.0
PyQt6==6.1.1
PyQt6-sip==13.1.0
PyQtChart==5.15.4
PyQtDataVisualization==5.15.4
PyQtPurchasing==5.15.4
PyQtWebEngine==5.15.4
PyRect==0.1.4
pyrsistent==0.18.0
PyScreeze==0.1.26
pyserial==3.5
PySide2==5.15.2
python-dateutil==2.8.2
python3-xlib==0.15
PyTweening==1.0.3
pyvenv==0.2.2
PyYAML==5.3.1
pyzmq==22.2.1
qimage2ndarray==1.8.3
QtPy==1.9.0
rados==2.0.0
rbd==2.0.0
requests==2.26.0
requests-toolbelt==0.9.1
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
rich==10.4.0
SecretStorage==3.3.1
Send2Trash==1.8.0
serial==0.0.97
shellingham==1.4.0
shiboken2==5.15.2
sip==6.1.1
six==1.16.0
slip==0.6.5
slip.dbus==0.6.5
soupsieve==2.2.1
SQLAlchemy==1.4.19
sqlitedict==1.7.0
style==1.1.0
team==1.0
termcolor==1.1.0
terminado==0.11.1
testpath==0.4.4
textual==0.1.0
toml==0.10.2
tomli==1.2.1
tomlkit==0.7.2
tornado==6.1
traitlets==5.0.5
ufw==0.36
update==0.0.1
urllib3==1.26.6
virtualenv==20.4.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
youtube-dl==2021.6.6
zipp==3.5.0
zstd==1.4.5.1
